@media (max-width:435px) {
    body, html {
      overflow-x: hidden !important;
    }
    header{ 
        & .spots{
            & p{
                font-size: 14px;
            }
        }
    
        & .navbar{
            text-align: center;
    
            & .dropdown-menu{
                text-align: center;
            }

        }
        
        
    }

    #hero{
        padding: 3% 0;
    
        & .hero-inner{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        & h1{
            color: #ffffff;
            font-size: 32px;
            font-weight: 700;
            text-align: center;
        }

    }

    #program{

      & .program-container {
          display: flex;
          flex-direction: column;
      }

    }

    footer {
        padding: 3% 0% 0% 0%;
        text-align: center;

        & .footer-element {
            width: 100%;
            margin: 3% 0%;
          }
        & h4 {
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            margin-top: 0;
          }
        & p {
            font-size: 12px;
            line-height: 15px;
            color: #c2c2c2;
          }
        & .footer-academies a {
            font-size: 14px;
            line-height: 17px;
            color: #c2c2c2 !important;
            text-decoration: none;
            display: block;
            margin: 2% 0%;
          }
        & .social a {
            margin-right: 10px;
          }
        & .bottom {
            padding: 8px 17px;
          }
        & .bottom p {
            font-size: 10px;
            line-height: 12px;
          }
        & .bottom p span {
            display: block;
          }
    }
      
}

@media (max-width:768px) {
    header{ 
        & .spots{
            & p{
                font-size: 14px;
            }
        }
    
        & .navbar{
            text-align: center;
    
            & .dropdown-menu{
                text-align: center;
            }

        }
        
        
    }

    footer {
        padding: 3% 0% 0% 0%;
        text-align: center;

        & .footer-element {
            width: 100%;
            margin: 3% 0%;
          }
        & h4 {
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            margin-top: 0;
          }
        & p {
            font-size: 12px;
            line-height: 15px;
            color: #c2c2c2;
          }
        & .footer-academies a {
            font-size: 14px;
            line-height: 17px;
            color: #c2c2c2 !important;
            text-decoration: none;
            display: block;
            margin: 2% 0%;
          }
        & .social a {
            margin-right: 10px;
          }
        & .bottom {
            padding: 8px 17px;
          }
        & .bottom p {
            font-size: 10px;
            line-height: 12px;
          }
        & .bottom p span {
            display: block;
          }
    }
}